* {
    box-sizing: border-box;
  }
  
body {
  font-family: 'Nunito', sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 100%;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: span 3;
  grid-row-start: 1;
  grid-row-end: span 4;
}

button, input[type="text"] {
    padding: 5px;
}
  
button:hover {
    cursor: pointer;
}

.window-content {
  padding: 10px;
  text-align: center;
  line-height: 30px;
}

.window-content a {
  text-decoration: none;
}

.window-content .links {
  color: white;
  background-color: #17263C;
  padding: 5px;
  border-radius: 3px;
  margin: 5px 5px;
}

.window-content h3 {
  color: #17263C;
}
  
main {
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-template-rows: 25% 25% 25% 25%;
  position: absolute;
  width: 100%;
  height: 100%;
}

.form-home {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
  justify-self: center;
  align-self: start;
  padding: 15px 50px 34.2px;
  row-gap: 10px;
}

h1 {
  font-family: 'Bungee Shade', cursive;
  grid-column-start: 1;
  grid-column-end: span 3;
  grid-row-start: 1;
  grid-row-end: 1;
  align-self: start;
  z-index: 1;
  margin: 0;
  padding: 20px;
  background-color: #17263C;
  color: white;
  width: -webkit-fill-available;
  text-align: center;
}

.form-after {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: span 2;
  justify-self: start;
  align-self: start;
  z-index: 1;
  margin-top: 86px;
  margin-left: 5px;
  padding: 10px;
  row-gap: 10px;
}

.error {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: span 3;
  z-index: 1;
  background-color: black;
  color: white;
}

#js-form {
  display: inline-grid;
  z-index: 1;
  color: white;
  background-color: #17263C;
  border-radius: 10px;
}

#js-form input {
  border: none;
  border-radius: 5px;
  color: #17263C;
  padding: 7px;
  background-color: white;
}

#js-form label {
  font-style: italic;
}

#js-form input[type="submit"] {
  border: none;
}

#js-form p {
  text-align: center;
  font-size: larger;
}

.hidden {
    display: none;
}

@media only screen and (max-width: 600px) {
  .form-after {
    grid-column-start: 1;
    grid-column-end: span 3;
    grid-row-start: 4;
    grid-row-end:  4;
    margin: 0 auto;
    align-self: center;
    width: 95%;
  }
}